{% extends 'base.html' %}
{% load static %}

{% block body %}
    
   
    
 <br>
 <div class="container">
    <form method="GET" action="{% url 'search' %}">
       <div class="input-group   text-center">
           <input type="text" class="form-control " name="query" id="query"  placeholder="Search Movies Here" style="float:right;width:40%;background-color: rgb(32, 31, 31);color: blanchedalmond;">
         <div class="input-group-btn">
           <button class="btn btn-default" type="submit" value="Search" style="min-height: 34px;background-color: rgb(41, 38, 38);">
             <i class="glyphicon glyphicon-search"></i>
           </button>
         </div>
       </div>
     </form>
    </div>
<!-- movie items -->


<br><br>
<div class="row text-center ">
    {% for x in movie %}
    <div class="col-2 col-md-4 col-sm-6">
      <div class="card shadow m-3">
        <img src="{{x.image.url}}" alt="" class="card-img-top my-2" height="300px" >
        <div class="card-body">
            <a href="{% url 'profile' x.id %}"><h4 class="card-title">{{x.title}}</h4></a>
          </div>
      </div>
    </div>
    {% endfor %}
  </div>
<br><br>
<script>
    console.log('hello')
</script>
<!-- END movies items -->    
{% endblock %}
   